<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/yildiz.jpeg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Kemal The İremin Kocası</h3>
      </div>

      <div class="text-center">@ilklckemal</div>
      <div class="text-center">
        <a href="https://www.netflix.com/tr/title/70153404">🥰🥰</a>
      </div>
    </div>
  </div>
</div>
